@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<input type="number" placeholder="Number 1" id="num1" required>
<input type="number" placeholder="Number 2" id="num2" required>
<button id="addBtn">Add Numbers</button>
<text id="addedNumbers"></text>

@section Scripts
{
    <script>

        const btn = document.getElementById("addBtn");
        const label = document.getElementById("addedNumbers");

        btn.addEventListener('click', () => {

            const url = 'https://localhost:7135/Add';
            const num1 = parseFloat(document.getElementById("num1").value);
            const num2 = parseFloat(document.getElementById("num2").value);

            fetch(url, {
                method: 'POST',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ num1, num2 })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('addedNumbers').textContent = data.sum;
                    console.log(data.sum);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(error);
                });
        });
    </script>
}

